In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
#from IPython.core.display import display, HTML #

C:\Users\evgen\AppData\Local\Temp\ipykernel_16428\3167031464.py:7: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML #

# Исследование структуры данных

In [139]:
data = pd.read_csv('dst-3.0_16_1_hh_database.csv', sep=';')
data.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [140]:
print(data.shape)

(44744, 12)

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [142]:
display(data.describe())

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

# Преобразование данных

In [ ]:
def get_education(arg):
    arg = ' '.join(arg.split(' ')[:3])
    if 'Высшее' in arg:
        return 'высшее'
    elif 'Неоконченное высшее' in arg:
        return 'неоконченное высшее'
    elif 'Среднее специальное' in arg:
        return 'среднее специальное'
    elif 'Среднее образование' in arg:
        return 'среднее'
data['Образование'] = data['Образование и ВУЗ'].apply(get_education)
data = data.drop('Образование и ВУЗ', axis=1)
print(data['Образование'].value_counts()['среднее'])

In [145]:
def edu (string):
    """ 
    edu(string)
    Преобразование признака "Образование и ВУЗ". 
    Разделяем строку по пробелам и проверяем первый элемент. Если это 'образование' — возвращаем нулевой элемент, 
    если нет — сумму нулевого и первого. 
    Args:
        string (str): Строка признака.
    Returns:
        str: Значение признака в формате ['неоконченное высшее' 'высшее' 'среднее специальное' 'среднее']
    """
    if string.split()[1] == 'образование':
        return string.split()[0].lower()
    else: 
        return (string.split()[0] + ' ' + string.split()[1]).lower()

# Преобразование признака
data['Образование'] = data['Образование и ВУЗ'].apply(edu)
print(f'Список категорий "Образование": {data.iloc[: , 12].unique()}')

# Удаляем признак "Образование и ВУЗ"
data= data.drop(['Образование и ВУЗ'], axis = 1)
print ('Преобразование выполнено. Признак "Образование и ВУЗ" удален! ✔')

Список категорий "Образование": ['неоконченное высшее' 'высшее' 'среднее специальное' 'среднее']
Преобразование выполнено. Признак "Образование и ВУЗ" удален! ✔

In [146]:
data['Образование'].value_counts()

Образование
высшее                 33863
среднее специальное     5765
неоконченное высшее     4557
среднее                  559
Name: count, dtype: int64

In [147]:
#создание признака пола
data['Пол'] = data['Пол, возраст'].apply(lambda gender: 'M' if gender.split(',')[0] == 'Мужчина ' else 'Ж')

#создание признака возраста
data['Возраст'] = data['Пол, возраст'].apply(lambda age: int((age.split(',')[1]).split()[0]))

#удалить признак "Пол, воозраст"
data = data.drop(['Пол, возраст'], axis = 1)
print ('Преобразование выполнено. Признак "Пол, возраст" удален! ✔')

In [150]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

In [151]:
display(data['Опыт работы'].isnull().value_counts())

Опыт работы
False    44576
True       168
Name: count, dtype: int64

In [152]:

def experience(string):
    """ 
    experience(string)
    Преобразование признака "Опыт работы". 
    Разделяем строку по пробелам и проверяем третий и пятый элементы. В зависимости от того, где расположен слово 'месяц\а\ев', 
    возвращаем второй и четвертый элементы в разных комбинациях. В случае отсутствия информации об опыте работы возвращаем 'Не указано'
    Args:
        string (str): Строка признака.
    Returns:
        int: Опыт работы в месяцах
        str: 'Не указано'
    """
    
    if string is np.NaN or string == 'Не указано':
        return np.NaN
    
    else:
        if string.split()[3] in ['месяц', 'месяца', 'месяцев']:
            result = int(string.split()[2])
            
        elif string.split()[5] not in ['месяц', 'месяца', 'месяцев']:
            result = int(string.split()[2])*12
            
        else:
            result = int(string.split()[2])*12 + int(string.split()[4])
           
    return result

# Применение функции experience(string) к признаку "Опыт работы", создание нового признака
data['Опыт работы (месяц)'] = data['Опыт работы'].apply(experience)

# Удаляем признак "Опыт работы"
data = data.drop(['Опыт работы'], axis = 1)
print ('Преобразование выполнено. Признак "Опыт работы" удален! ✔')

Преобразование выполнено. Признак "Опыт работы" удален! ✔

In [154]:
def city(string):
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород',
                      'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону',
                      'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' 
                      ]
    city_name = string.split(',')[0][:-1]
    
    if city_name in ['Москва', 'Санкт-Петербург']:
        return city_name
    
    elif city_name in million_cities :
        return 'город-миллионник'
    
    else:
        return 'другие'

def moving(string):
    if ('не готов к переезду' in string) or ('не готова к переезду' in string):
        return False
    else:
        return True 

def bistrips(string):
    #trip_words = ['готов','готова','командировкам']
    #a = string.split(',')
    #index = len(a) - 1
    if ('командировка' in string):
        if ('не готов к командировкам' in string) or ('не готова к командировкам' in string):
            return False
        else:
            return True
    else:
        return False

data['Город'] = data['Город, переезд, командировки'].apply(city)
data['Готовность_к_переезду'] = data['Город, переезд, командировки'].apply(moving)
data['Готовность_к_командировкам'] = data['Город, переезд, командировки'].apply(bistrips)
data = data.drop('Город, переезд, командировки', axis=1)    
print(round(data[data['Готовность_к_переезду'] & data['Готовность_к_командировкам']
].shape[0] / data.shape[0] *100))

32

In [155]:
employments = ['полная занятость', 'частичная занятость',
              'проектная работа', 'волонтерство', 'стажировка']
charts = ['полный день', 'сменный график', 
         'гибкий график', 'удаленная работа',
         'вахтовый метод']
for employment, chart in zip(employments, charts):
    data[employment] = data['Занятость'].apply(lambda x: employment in x)
    data[chart] = data['График'].apply(lambda x: chart in x)

print(data[data['проектная работа'] & data['волонтерство']].shape[0])
print(data[data['вахтовый метод'] & data['гибкий график']].shape[0])
#busy_list = list (set (data['Занятость'].sum()))
#schedule_list = list (set (data['График'].sum()))
#employment1 = list (set (data['Занятость2'].sum()))
#chart1 = list (set (data['График2'].sum()))

436
2311

In [156]:
#money = pd.read_csv('ExchangeRates.csv', sep = ',')
#money.head()

  currency per      date   time    close  vol  proportion
0      USD   D  29/12/17  00:00  57.6291    0           1
1      USD   D  30/12/17  00:00  57.6002    0           1
2      USD   D  31/12/17  00:00  57.6002    0           1
3      USD   D  01/01/18  00:00  57.6002    0           1
4      USD   D  02/01/18  00:00  57.6002    0           1

In [168]:

# Преобразование таблицы с курсами валют, удаление лишних столбцов, изменение формата данных признака date
money = pd.read_csv('ExchangeRates.csv', sep = ',')
money['date'] = pd.to_datetime(money['date'])
money = money.drop(['per', 'time', 'vol'], axis = 1)

#display (money)
#money['currency'].value_counts()
display(money)

C:\Users\evgen\AppData\Local\Temp\ipykernel_16428\2590212857.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  money['date'] = pd.to_datetime(money['date'])

     currency       date    close  proportion
0         USD 2017-12-29  57.6291           1
1         USD 2017-12-30  57.6002           1
2         USD 2017-12-31  57.6002           1
3         USD 2018-01-01  57.6002           1
4         USD 2018-02-01  57.6002           1
...       ...        ...      ...         ...
5659      AZN 2019-02-12  37.7729           1
5660      AZN 2019-03-12  37.9662           1
5661      AZN 2019-04-12  37.8073           1
5662      AZN 2019-05-12  37.8396           1
5663      AZN 2019-06-12  37.6148           1

[5664 rows x 4 columns]

In [169]:
data['date'] = pd.to_datetime(data['Обновление резюме']).dt.date#создаем признак с необходимым форматом
data['currency'] = data['ЗП'].apply(lambda x: x.split()[1])#создание признака с необходимым форматом

C:\Users\evgen\AppData\Local\Temp\ipykernel_16428\3204433491.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date'] = pd.to_datetime(data['Обновление резюме']).dt.date#создаем признак с необходимым форматом

In [170]:
data_currency_list = list(data['currency'].unique()) # список уникальных валют
Salary_numbers = data['ЗП'].apply(lambda salary: int(salary.split()[0])) # создание объекта Series со численным значениями из признака "ЗП"
currency_list = ['RUB','BYN','KZT','EUR','USD','UAH','UZS','KGS','AZN']
data['currency'] = data['currency'].apply(lambda currency: currency_list[data_currency_list.index(currency)]) #преобразование формата валют к формату из датафрейма money

TypeError: 'list' object is not callable

In [ ]:
data['currency'].value_counts()

currency
руб.        42471
KZT          1108
USD           628
бел.руб.      329
EUR           106
грн.           73
сум            20
KGS             6
AZN             3
Name: count, dtype: int64

In [ ]:
data.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто,date,date2,currency
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль,2019-04-16,2019-04-16,руб.
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано,2019-04-12,2019-04-12,руб.
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано,2019-04-16,2019-04-16,руб.
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано,2019-04-08,2019-04-08,руб.
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано,2019-04-22,2019-04-22,руб.