In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
from IPython.core.display import display, HTML #

C:\Users\evgen\AppData\Local\Temp\ipykernel_16428\3167031464.py:7: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML #

In [86]:
data = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')
#data.head()

In [87]:
print(data.shape)

(44744, 12)

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [89]:
display(data.describe())

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

In [90]:
data['Город, переезд, командировки'].value_counts()

Город, переезд, командировки
Москва , не готов к переезду , не готов к командировкам                                                                        1261
Москва , готов к переезду , готов к командировкам                                                                               904
Москва , не готов к переезду , готов к командировкам                                                                            877
Москва , не готов к переезду , готов к редким командировкам                                                                     604
Санкт-Петербург , не готов к переезду , не готов к командировкам                                                                453
                                                                                                                               ...
Нижний Тагил , хочу переехать (Севастополь, Екатеринбург, Горячий Ключ, Джубга, Нижний Тагил, Сочи) , готов к командировкам       1
Москва ,  м. Комсомольская , готова к переезду (Санкт-Петербург, Барнаул) , готова к командировкам                                1
Октябрьский , не готова к переезду , не готова к командировкам                                                                    1
Москва , готов к переезду (Москва, Россия) , готов к командировкам                                                                1
Новополоцк , готов к переезду , готов к командировкам                                                                             1
Name: count, Length: 10063, dtype: int64

In [91]:
data['Последнее/нынешнее место работы'].value_counts()

Последнее/нынешнее место работы
Индивидуальное предпринимательство / частная практика / фриланс    935
Ростелеком                                                         483
Сбербанк                                                           406
Мобильные ТелеСистемы (МТС)                                        204
МАГНИТ, Розничная сеть                                             177
                                                                  ...
ООО ОС-Технолоджи                                                    1
Воронежский государственный технический университет                  1
АО "Камов"                                                           1
Nethouse                                                             1
ПАО ГК ТНС энерго                                                    1
Name: count, Length: 30214, dtype: int64

In [92]:
def edu (string):
    """ 
    edu(string)
    Преобразование признака "Образование и ВУЗ". 
    Разделяем строку по пробелам и проверяем первый элемент. Если это 'образование' — возвращаем нулевой элемент, 
    если нет — сумму нулевого и первого. 
    Args:
        string (str): Строка признака.
    Returns:
        str: Значение признака в формате ['неоконченное высшее' 'высшее' 'среднее специальное' 'среднее']
    """
    if string.split()[1] == 'образование':
        return string.split()[0].lower()
    else: 
        return (string.split()[0] + ' ' + string.split()[1]).lower()

# Преобразование признака
data['Образование'] = data['Образование и ВУЗ'].apply(edu)
print(f'Список категорий "Образование": {data.iloc[: , 12].unique()}')

# Удаляем признак "Образование и ВУЗ"
data= data.drop(['Образование и ВУЗ'], axis = 1)
print ('Преобразование выполнено. Признак "Образование и ВУЗ" удален! ✔')

Список категорий "Образование": ['неоконченное высшее' 'высшее' 'среднее специальное' 'среднее']
Преобразование выполнено. Признак "Образование и ВУЗ" удален! ✔

In [93]:
data['Образование'].value_counts()

Образование
высшее                 33863
среднее специальное     5765
неоконченное высшее     4557
среднее                  559
Name: count, dtype: int64

In [94]:
#создание признака пола
data['Пол'] = data['Пол, возраст'].apply(lambda gender: 'M' if gender.split(',')[0] == 'Мужчина ' else 'Ж')

#создание признака возраста
data['Возраст'] = data['Пол, возраст'].apply(lambda age: int((age.split(',')[1]).split()[0]))

#удалить признак "Пол, воозраст"
data = data.drop(['Пол, возраст'], axis = 1)

In [95]:
data['Пол'].value_counts(normalize=True)

Пол
M    0.809293
Ж    0.190707
Name: proportion, dtype: float64

In [96]:
data.describe()

            Возраст
count  44744.000000
mean      32.196741
std        7.929800
min       14.000000
25%       27.000000
50%       31.000000
75%       36.000000
max      100.000000

In [97]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

In [98]:
display(data['Опыт работы'].isnull().value_counts())

Опыт работы
False    44576
True       168
Name: count, dtype: int64

In [99]:

def experience(string):
    """ 
    experience(string)
    Преобразование признака "Опыт работы". 
    Разделяем строку по пробелам и проверяем третий и пятый элементы. В зависимости от того, где расположен слово 'месяц\а\ев', 
    возвращаем второй и четвертый элементы в разных комбинациях. В случае отсутствия информации об опыте работы возвращаем 'Не указано'
    Args:
        string (str): Строка признака.
    Returns:
        int: Опыт работы в месяцах
        str: 'Не указано'
    """
    
    if string is np.NaN or string == 'Не указано':
        return np.NaN
    
    else:
        if string.split()[3] in ['месяц', 'месяца', 'месяцев']:
            result = int(string.split()[2])
            
        elif string.split()[5] not in ['месяц', 'месяца', 'месяцев']:
            result = int(string.split()[2])*12
            
        else:
            result = int(string.split()[2])*12 + int(string.split()[4])
           
    return result

# Применение функции experience(string) к признаку "Опыт работы", создание нового признака
data['Опыт работы (месяц)'] = data['Опыт работы'].apply(experience)

# Удаляем признак "Опыт работы"
data = data.drop(['Опыт работы'], axis = 1)
print ('Преобразование выполнено. Признак "Опыт работы" удален! ✔')

Преобразование выполнено. Признак "Опыт работы" удален! ✔

In [100]:
data['Опыт работы (месяц)'].median()

100.0

In [101]:
def city(string):
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород',
                      'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону',
                      'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' 
                      ]
    city_name = string.split(',')[0][:-1]
    
    if city_name in ['Москва', 'Санкт-Петербург']:
        return city_name
    
    elif city_name in million_cities :
        return 'город-миллионник'
    
    else:
        return 'другие'

def moving(string):
    #mov_words = ['готов','готова','переехать','переезду']
    #moving_name = string.split(',')[1].split()
    #moving_name2 = string.split(',')[2].split()
    #for i in mov_words:
    if ('не готов к переезду' in string) or ('не готова к переезду' in string):
        return False
    else:
        return True 

def bistrips(string):
    #trip_words = ['готов','готова','командировкам']
    #a = string.split(',')
    #index = len(a) - 1
    if ('командировка' in string):
        if ('не готов к командировкам' in string) or ('не готова к командировкам' in string):
            return False
        else:
            return True
    else:
        return False

data['Город'] = data['Город, переезд, командировки'].apply(city)
data['Готовность_к_переезду'] = data['Город, переезд, командировки'].apply(moving)
data['Готовность_к_командировкам'] = data['Город, переезд, командировки'].apply(bistrips)
data = data.drop('Город, переезд, командировки', axis=1)    
print(round(data[data['Готовность_к_переезду'] & data['Готовность_к_командировкам']
].shape[0] / data.shape[0] *100))

32

In [104]:
employments = ['полная занятость', 'частичная занятость',
              'проектная работа', 'волонтерство', 'стажировка']
charts = ['полный день', 'сменный график', 
         'гибкий график', 'удаленная работа',
         'вахтовый метод']
for employment, chart in zip(employments, charts):
    data[employment] = data['Занятость'].apply(lambda x: employment in x)
    data[chart] = data['График'].apply(lambda x: chart in x)

print(data[data['проектная работа'] & data['волонтерство']].shape[0])
print(data[data['вахтовый метод'] & data['гибкий график']].shape[0])
#busy_list = list (set (data['Занятость'].sum()))
#schedule_list = list (set (data['График'].sum()))
#employment1 = list (set (data['Занятость2'].sum()))
#chart1 = list (set (data['График2'].sum()))

436
2311

In [107]:
# Ссылка на файл с данными
display(HTML("""<a href="https://drive.google.com/file/d/1B2o74P-ScqCo7zHp3pPV1u-m5CEKawLV/view?usp=sharing">Исходный dataframe ExchangeRates.csv"""))

# Преобразование таблицы с курсами валют, удаление лишних столбцов, изменение формата данных признака date
money = pd.read_csv('ExchangeRates.csv', sep = ',')
money['date'] = pd.to_datetime(money['date'])
money = money.drop(['per', 'time', 'vol'], axis = 1)

display (money)

NameError: name 'HTML' is not defined

In [106]:
data.head()

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,...,полная занятость,полный день,частичная занятость,сменный график,проектная работа,гибкий график,волонтерство,удаленная работа,стажировка,вахтовый метод
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,M,...,True,True,True,True,True,True,False,True,False,True
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,M,...,True,True,True,True,True,True,False,True,False,False
2,20000 руб.,Оператор,полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,...,True,True,False,False,False,False,False,False,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,M,...,True,False,True,False,True,True,False,True,False,False
4,140000 руб.,Региональный менеджер по продажам,полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,...,True,True,False,False,False,False,False,False,False,False